.vt-banner-section {
	overflow: hidden;
	.bt-banner-img {
		width: 100%;
		z-index: -1;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.vt-banner-shape {
		right: 0;
		bottom: 0px;
		position: absolute;
		@media #{$sm,$xs} {
			display: none;
		}
	}
	&:before {
		left: 0;
		top: 40px;
		width: 100%;
		content: '';
		height: 200px;
		position: absolute;
		background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
		@media #{$md,$sm,$xs} {
			height: 100%;
		}
	}
	&.dark_version {
		&:before {
			background: linear-gradient(180deg, #101010 0%, rgba(16, 16, 16, 0) 100%);
		}
	}
}
.vt-banner-text {
	z-index: 1;
	max-width: 520px;
	padding-top: 245px;
	position: relative;
	padding-bottom: 195px;
	@media #{$xxs} {
		padding-top: 180px;
		padding-bottom: 100px;
	}
	.banner-slug {
		line-height: 1;
		font-size: 15px;
		padding: 6px 20px;
		position: relative;
		margin-bottom: 16px;
		display: inline-block;
		background: linear-gradient(90deg, #DBF0FF 0%, #DFE2FF 50%, #F6DFFF 100%);
		&:before,
		&:after {
			top: 12px;
			width: 4px;
			height: 4px;
			content: '';
			border-radius: 100%;
			position: absolute;
			background-color: var(--vt-title-color);
		}
		&:after {
			right: 10px;
		}
		&:before {
			left: 10px;
		}
	}
	.banner_title {
		line-height: 1;
		font-size: 	64px;
		overflow: hidden;
		letter-spacing: -2px;
		color: var(--vt-title-color);
		@media #{$md} {
			font-size: 55px;
		}
		@media #{$xs} {
			font-size: 45px;
		}
	}
	p {
		padding-top: 25px;
		padding-bottom: 32px;
	}
	&.dark_version {
		.banner-slug {
			color: #C9F7CA;
			background: rgba(201, 247, 202, 0.16);
			&:before,
			&:after {
				background-color: #C9F7CA;
			}
		}
		.banner_title {
			color: #fff;
		}
		p {
			color: rgba(255, 255, 255, .72);
		}
		.vt-btn {
			a {
				color: var(--vt-title-color);
				background-color: #C9F7CA;
			}
		}
	}
}