.vt-blog-section {
	overflow: hidden;
	background-color: #E7E7E7;
}
.vt-blog-item {
	max-width: 384px;
	margin: 0 auto;
	margin-bottom: 30px;
	.item-img {
		margin-bottom: 24px;
	}
	.item-text {
		.item-tag {
			margin-bottom: 18px;
			a {
				display: block;
				margin-bottom: 8px;
				span {
					padding: 8px 10px;
					line-height: 1;
					font-size: 15px;
					display: inline-block;	
					background-color: #fff;
					color: var(--vt-title-color);
				}
			}
		}
		.blog_title {
			color: var(--vt-title-color);
			font-weight: 500;
			font-size: 23px;
			line-height: 1.30;
		}
	}
}