.vt-client-section {
	.vt-section-title {
		margin: 0 auto;
		max-width: 810px;
	}
}
.vt-client-content {
	margin-top: 50px;
	border: 1px solid #F2F2F2;
}
.vt-client-item {
	width: 25%;
	height: 160px;
	border: 1px solid #F2F2F2;
}